---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B0DD1A62EE064A5194B624F822268F1A
      X-Msedge-Clientid:
      - 00C3CA5024A563C92B9BC18D2532621F
      X-Msapi-Userstate:
      - 2c16
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9CEABD6ED05643B5B67282BAA981498C&CID=00C3CA5024A563C92B9BC18D2532621F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9CEABD6ED05643B5B67282BAA981498C&CID=00C3CA5024A563C92B9BC18D2532621F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5840.1", "totalEstimatedMatches": 277000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5126.1", "about": [{"name": "whitehouse.gov"}, {"name": "United States"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov", "snippet":
        "History of The White House. Our first president, George Washington, selected
        the site for the White House in 1791. Every president since John Adams has
        occupied the White House, and the history of this building extends far beyond
        the construction of its walls.", "deepLinks": [{"name": "Contact", "url":
        "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix": "DevEx,5101.1",
        "snippet": "Get Involved Contact the White House. Share:"}, {"name": "News",
        "url": "https:\/\/www.whitehouse.gov\/news\/", "urlPingSuffix": "DevEx,5102.1",
        "snippet": "Readout of Vice President Mike Pence’s Meeting with German Vice
        Chancellor and Minister of Finance Olaf Scholz"}, {"name": "We The People
        Petitions", "url": "https:\/\/petitions.wh[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Trac[...]
