---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DCEB8024E53A4E12BE4B839B41737E1D
      X-Msedge-Clientid:
      - 3A7E3669656166003F523DB464F66735
      X-Msapi-Userstate:
      - 5b4c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F583DDA802354393AF243719C349BF73&CID=3A7E3669656166003F523DB464F66735&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F583DDA802354393AF243719C349BF73&CID=3A7E3669656166003F523DB464F66735&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5626.1", "totalEstimatedMatches": 80500000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5115.1", "about": [{"name": "English"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/English_language", "snippet": "English
        is an Indo-European language and belongs to the West Germanic group of the
        Germanic languages. Old English originated from a Germanic tribal and linguistic
        continuum along the coast of the North Sea, whose languages are now known
        as the Anglo-Frisian subgroup within West Germanic.", "snippetAttribution":
        {"license": {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/",
        "urlPingSuffix": "DevEx,5625.1"}, "licenseNotice": "Text under CC-BY-SA license"},
        "dateLastCrawled": "2018-04-15T21:57:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "English | Define English at Dictionary.com", "url": "http:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5151.1", "about": [{"name": "Dictionary.com"}], "displayUrl":
        "www.dictionary.com\/browse\/english", "snippet": "English definition, of,
        relating to, or characteristic of England or its inhabitants, institutions,
        etc. See more.", "dat[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      -[...]
