---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8B757457C7A64DD28E49D5E253EBDA5E
      X-Msedge-Clientid:
      - 158306D548C768BE07C00D08495069C0
      X-Msapi-Userstate:
      - 9e95
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=89438672B1014DDC891035F34F2DB358&CID=158306D548C768BE07C00D08495069C0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=89438672B1014DDC891035F34F2DB358&CID=158306D548C768BE07C00D08495069C0&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5660.1", "totalEstimatedMatches": 8300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5112.1", "about": [{"name": "Dinghy sailing"}, {"name":
        "Dinghy sailing"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "snippet": "Dinghy sailing is the activity of sailing small boats by using
        five essential controls: the sails; the foils (i.e. the daggerboard or centreboard
        and rudder and ...", "deepLinks": [{"name": "Development of the dinghy", "url":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing#Development_of_the_dinghy",
        "urlPingSuffix": "DevEx,5101.1", "snippet": "There has always been a need
        for small tender boats for transporting goods and personnel to and from anchored
        sailing ships. Together with other smaller work craft such as fishing and
        light cargo, small inshore craft have always been in evidence. Charles II
        of England had a priva"}[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Tracei[...]
