---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 24614D6E99D540ABBAE7EA5D76321AFD
      X-Msedge-Clientid:
      - 1EFFED441907606F3F6BE6991890611C
      X-Msapi-Userstate:
      - 55eb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=571B432E1BEC468A9610DCF7D5653A8A&CID=1EFFED441907606F3F6BE6991890611C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=571B432E1BEC468A9610DCF7D5653A8A&CID=1EFFED441907606F3F6BE6991890611C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5337.1", "totalEstimatedMatches": 45100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Anythink Libraries | Anythink Libraries", "url": "https:\/\/www.anythinklibraries.org\/",
        "urlPingSuffix": "DevEx,5070.1", "about": [{"name": "Rangeview Library District"}],
        "displayUrl": "https:\/\/www.anythinklibraries.org", "snippet": "Anythink.
        A Revolution of Rangeview Libraries. Adams County, Colorado.", "dateLastCrawled":
        "2018-04-21T13:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Anything dictionary definition | anything defined", "url": "http:\/\/www.yourdictionary.com\/anything",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "www.yourdictionary.com\/anything",
        "snippet": "any object, event, fact, etc.: do you know anything about it?
        · a thing, no matter of what kind: do anything you want · in any way; at all:
        is he anyth[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
     [...]
