---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5BA8485E8704FFF87C77C6CDAAAC1CC
      X-Msedge-Clientid:
      - 23E908FC4E7E62DD267903214FE963EC
      X-Msapi-Userstate:
      - d944
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3C8CFCE20C824A32AA46A303A88BF374&CID=23E908FC4E7E62DD267903214FE963EC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3C8CFCE20C824A32AA46A303A88BF374&CID=23E908FC4E7E62DD267903214FE963EC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5544.1", "totalEstimatedMatches": 14400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5102.1", "about": [{"name": "whitehouse.gov"}, {"name": "United States"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Search WhiteHouse.gov. Budget & Spending On Tax Cuts, Jobs,
        and Optimism, Look at What’s Happening in America’s Heartland. ... History
        of The White House.", "deepLinks": [{"name": "Contact", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "News", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Live Events", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "We The People Petitions", "url":
        "https:\/\/petitions.whitehouse.gov\/", "urlPingSuffix": "DevEx,5091.1"},
        {"name": "Statements & Releases", "url": "https:\/\/www.whitehouse.gov\/briefings-statements\/",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2018-04-22T08:49:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Contact
        the White House", "url": "https:\/\/www.whitehouse.gov\/contact\/", "urlPingSuffix":
        "DevEx,5118.1", "about": [{"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Get Involved Contact the White House. Share:", "dateLastCrawled":
        "2018-04-22T10:53:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
