---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E724889A156E47FD907BBB2001FFD61B
      X-Msedge-Clientid:
      - 166C64E69575697B3C766F3B94E26804
      X-Msapi-Userstate:
      - fbeb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A9618474B366413EADD266CF2806AA27&CID=166C64E69575697B3C766F3B94E26804&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A9618474B366413EADD266CF2806AA27&CID=166C64E69575697B3C766F3B94E26804&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 2330000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home | MARS", "url": "https:\/\/mymarketnews.ams.usda.gov\/", "urlPingSuffix":
        "DevEx,5095.1", "displayUrl": "https:\/\/mymarketnews.ams.usda.gov", "snippet":
        "USDA Launches MARS, Delivering Market Data to Agricultural Producers Around
        the Globe Faster and Easier; USDA Announces Lamb Board Appointments;", "deepLinks":
        [{"name": "Login", "url": "https:\/\/mymarketnews.ams.usda.gov\/user\/login",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Getting Started", "url": "https:\/\/mymarketnews.ams.usda.gov\/mars-api\/getting-started",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "FAQs", "url": "https:\/\/mymarketnews.ams.usda.gov\/faqs",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Help", "url": "https:\/\/mymarketnews.ams.usda.gov\/help",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Market News List", "url": "https:\/\/mymarketnews.ams.usda.gov\/market-news\/list",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Mars", "url": "https:\/\/mymarketnews.ams.usda.gov\/report\/list?page=0",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2018-04-22T17:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Planet
        Mars - National Weather Service", "url": "https:\/\/www.weather.gov\/fsd\/mars",
        "urlPingSuffix": "DevEx,5113.1", "about": [{"name": "Mars"}], "displayUrl":
        "https:\/\/www.weather.gov\/fsd\/mars", "snippet": "Mars is the last planet
        of the inner four terrestrial planets in the solar system at an average distance
        of 141 million miles from our Sun. It revolves around the Sun every 687 days
        and rotates every 24.6 hours (nearly the same as Earth). Mars has two tiny
        satellites, named Deimos and Phobos (shown ...", "dateLastCrawled": "2018-04-16T06:11:00.0000000Z"},
        {"id": [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
 [...]
