---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D0D1270B352F479990CBF457FAA0F033
      X-Msedge-Clientid:
      - 3558DE96A69F67110550D54BA7086666
      X-Msapi-Userstate:
      - a861
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=149B624242794D97A3CF6CC14CC15BCB&CID=3558DE96A69F67110550D54BA7086666&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=149B624242794D97A3CF6CC14CC15BCB&CID=3558DE96A69F67110550D54BA7086666&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5548.1", "totalEstimatedMatches": 1800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "United States Department
        of Justice"}], "displayUrl": "https:\/\/www.justice.gov\/legal-careers", "snippet":
        "The Department of Justice offers a broad range of opportunities for experienced
        attorneys to work on many significant and complex issues that face our nation.",
        "deepLinks": [{"name": "Experienced Attorneys", "url": "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5088.1"}, {"name": "Law Students", "url": "https:\/\/www.justice.gov\/legal-careers\/law-students",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Why Justice", "url": "https:\/\/www.justice.gov\/legal-careers\/why-justice",
        "urlPingSuffix": "DevEx,5091.1"}], "dateLastCrawled": "2018-03-15T05:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Search
        Jobs | CAREERS | Department of Justice", "url": "https:\/\/www.justice.gov\/careers\/search-jobs",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "https:\/\/www.justice.gov\/careers\/search-jobs",
        "snippet": "Legal Careers ; FBI; ATF; DEA; U.S. Marshals Service ; Bureau
        of Prisons; USAJobs Recent Jobs. Title Location Application Deadline", "dateLast[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      [...]
