---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 22C0866CD0104C4BB0CCE2B0C0ACEFEE
      Bingapis-Sessionid:
      - 60E53DC572D14A93A5144DC1F4589400
      X-Msedge-Clientid:
      - 1B902FDF4D5665583C243FC44C196428
      X-Msapi-Userstate:
      - 8ec4
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=169,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Fri, 16 Apr 2021 18:15:24 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 65DC48AE6D9E48D3B02A7D032986126E
      Bingapis-Sessionid:
      - 96566C59973C4F8D95F44D8725B81239
      X-Msedge-Clientid:
      - 2090FD717F9764451FDDED6A7E8865F0
      X-Msapi-Userstate:
      - d1d9
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=164,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Fri, 16 Apr 2021 18:15:25 GMT
recorded_with: VCR 4.0.0
