---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BFA6B5FA9FDE49F8BEB09C9B2A036F47
      X-Msedge-Clientid:
      - '07478DF46722603A3D5C862966B561F2'
      X-Msapi-Userstate:
      - fbbf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F4A2E563D26446DBA59CBF337BAC840B&CID=07478DF46722603A3D5C862966B561F2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F4A2E563D26446DBA59CBF337BAC840B&CID=07478DF46722603A3D5C862966B561F2&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:56:28 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DBCF8DF309874490A24F4E790A1D646F
      X-Msedge-Clientid:
      - 0C4910097B126B901E001C7F7A5E6AB1
      X-Msapi-Userstate:
      - 346c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DA6B67CC544945849B3E9249DB9452ED&CID=0C4910097B126B901E001C7F7A5E6AB1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DA6B67CC544945849B3E9249DB9452ED&CID=0C4910097B126B901E001C7F7A5E6AB1&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 26 Sep 2018 22:53:34 GMT
recorded_with: VCR 4.0.0
