---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 47E8E09362E74DC8B6142853E0D7BA28
      X-Msedge-Clientid:
      - 2601BA8FAE2F6C7E1832B111AFCA6D46
      X-Msapi-Userstate:
      - '8125'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=44EAD9E6A7C94C7FB774F1EF23A1B589&CID=2601BA8FAE2F6C7E1832B111AFCA6D46&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=44EAD9E6A7C94C7FB774F1EF23A1B589&CID=2601BA8FAE2F6C7E1832B111AFCA6D46&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5557.1", "totalEstimatedMatches": 100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2018-02-10T11:32:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, v[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F4AB8A40E4944DFD9E9DBA145142A6E0
      X-Msedge-Clientid:
      - 32C70328BD346E150BEA08B6BCD16F9B
      X-Msapi-Userstate:
      - b4fb
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=20E22359C2F6432898470DB6419A1513&CID=32C70328BD346E150BEA08B6BCD16F9B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=20E22359C2F6432898470DB6419A1513&CID=32C70328BD346E150BEA08B6BCD16F9B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 143, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=92A97DA7212D2447B5AF104B4DE742DB0F7E0094&simid=608028141260704548",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Official website of the
        City of Tucson", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.CILJB7SU-MkBV5IvFEh1fAAAAA&pid=Api",
        "datePublished": "2017-12-11T19:55:00.0000000Z", "contentUrl": "https:\/\/www.tucsonaz.gov\/images\/jobs.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.tucsonaz.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "6441 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.tucsonaz.gov", "width": 120, "height":
        120, "thumbnail": {"width": 120, "height": 120}, "imageInsightsToken": "ccid_CILJB7SU*mid_92A97DA7212D2447B5AF104B4DE742DB0F7E0094*simid_608028141260704548",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "92A97DA7212D2447B5AF104B4DE742DB0F7E0094", "accentColor": "996632"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=E361EF5CE0D389DAF5FF10EE7E19CB266F8C1B4D&simid=608016510554671549",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Returning Service Members
        (OEF\/OIF\/OND) Home", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M6_jOa2h1L7UCOf7vLlhsAAAAA&pid=Api",
        "datePublished": "2017-01-21T04:51:00.0000000Z", "contentUrl": "http:\/\/www.va.gov\/HEAL[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BAE13B7C01CC4BA7A39AC9C413F7BFC1
      X-Msedge-Clientid:
      - '02799295BFCF68B32694990BBE2A695F'
      X-Msapi-Userstate:
      - 23b2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=402FBFBBAE8244E9994D95EDD0EE547F&CID=02799295BFCF68B32694990BBE2A695F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=402FBFBBAE8244E9994D95EDD0EE547F&CID=02799295BFCF68B32694990BBE2A695F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:24:17 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bi[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
[...]
