---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B84D5AE73AF949ED87D9D449DD99B4E6
      X-Msedge-Clientid:
      - 17941AF9C5B76EA92D2C1167C4526F7A
      X-Msapi-Userstate:
      - '8178'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C7884E8817BA40C78789F234F8F9192A&CID=17941AF9C5B76EA92D2C1167C4526F7A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C7884E8817BA40C78789F234F8F9192A&CID=17941AF9C5B76EA92D2C1167C4526F7A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 08:37:49 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BE9976181C9D4783A671B761AF35EC0A
      X-Msedge-Clientid:
      - 1D9CCD454D6767A51E1CC1334C2B667B
      X-Msapi-Userstate:
      - 729b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A335391967645C188BDE0A1E1F2489A&CID=1D9CCD454D6767A51E1CC1334C2B667B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A335391967645C188BDE0A1E1F2489A&CID=1D9CCD454D6767A51E1CC1334C2B667B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 26 Sep 2018 23:11:28 GMT
recorded_with: VCR 4.0.0
