---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5E24C68223EB4770986A2241FA706F04
      X-Msedge-Clientid:
      - 3A3A46ED311063A00BCE4D7330F56200
      X-Msapi-Userstate:
      - 83e0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5DBA9F8FB4164C8EAEB58636E04691F3&CID=3A3A46ED311063A00BCE4D7330F56200&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5DBA9F8FB4164C8EAEB58636E04691F3&CID=3A3A46ED311063A00BCE4D7330F56200&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 15100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"}],
        "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal
        Government''s official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2018-02-15T01:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD:
        Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5115.1",
        "about": [{"name": "Louisiana"}], "displayUrl": "www.jobs.in.gov", "snippet":
        "Search for jobs with Indiana State Government; Learn more about working
        for the state of Indiana; View my current benefits summary; Ask SPD a question
        related to my ...", "dateLastCra[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
