---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B8BA18FB1F864C4496E7E69E88C36616
      X-Msedge-Clientid:
      - 040AC1FFF29064F42000CA61F3756592
      X-Msapi-Userstate:
      - '2356'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2556FC20D1CD4019A1DF9B3C4D238402&CID=040AC1FFF29064F42000CA61F3756592&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2556FC20D1CD4019A1DF9B3C4D238402&CID=040AC1FFF29064F42000CA61F3756592&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 15600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Presidential News and Speeches - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.whitehouse.gov\/news",
        "snippet": "Statements & Releases Readout of President Donald J. Trump’s Call
        with President Vladimir Putin of Russia", "dateLastCrawled": "2018-02-15T00:36:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix": "DevEx,5111.1",
        "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here we have
        the latest news within the immigration benefit world, handled by U.S. Citizenship
        and Immigration Services (USCIS). Both news media and general public ...",
        "deepLinks": [{"name": "All News", "url": "https:\/\/www.uscis.gov\/news\/all-news",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "News Releases", "url": "https:\/\/www.uscis.gov\/news-releases",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Alerts", "url": "https:\/\/www.uscis.gov\/news\/alerts",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Media Contacts", "url": "https:\/\/www.uscis.gov\/news\/media-contacts",
        "urlPingSuffix": "DevEx,5106.1"}], "dateLastCrawled": "2018-02-13T11:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "News
        | Governor Andrew M. Cuomo", "url": "http:\/\/www.governor.ny.gov\/news",
        "urlPingSuffix": "DevEx,5131.1", "about": [{"name": "Andrew Cuomo"}], "displayUrl":
        "www.governor.ny.gov\/news", "snippet": "The official website of the 56th
        Governor of New York State, Andrew M. Cuomo. Find information about the administration,
        issues, & news that affects you.", "dateLastCrawled": "2018-02-13T14:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlP[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; cha[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      [...]
[...]
