---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6065335BE7EB4B308BF7C630C0D1B826
      X-Msedge-Clientid:
      - 151A571BED7965913B735CC6ECEE6484
      X-Msapi-Userstate:
      - c23f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=73F9900265A64A4EB58B90F77250505B&CID=151A571BED7965913B735CC6ECEE6484&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=73F9900265A64A4EB58B90F77250505B&CID=151A571BED7965913B735CC6ECEE6484&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:56:39 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7BC8A1E5328C4BA6AA94B24C82865D44
      X-Msedge-Clientid:
      - 07A2320B1AE76E5231533E7D1BAB6FCC
      X-Msapi-Userstate:
      - 1c46
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C8973991F84F43D3BF8FC62F1BEA0E99&CID=07A2320B1AE76E5231533E7D1BAB6FCC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C8973991F84F43D3BF8FC62F1BEA0E99&CID=07A2320B1AE76E5231533E7D1BAB6FCC&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 26 Sep 2018 22:53:39 GMT
recorded_with: VCR 4.0.0
