---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E8E3594C47B04E9F9866F2AAE00F28C3
      X-Msedge-Clientid:
      - 1FA876565B6B683715D27D8B5AFC69CA
      X-Msapi-Userstate:
      - af84
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=30ED9B83E31B46C0B2A7D7A52B0D72DE&CID=1FA876565B6B683715D27D8B5AFC69CA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=30ED9B83E31B46C0B2A7D7A52B0D72DE&CID=1FA876565B6B683715D27D8B5AFC69CA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:56:39 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D50494DD10346A7BE17C0B0640C5848
      X-Msedge-Clientid:
      - 005D0F4B3A796ABD154C033D3B356B3A
      X-Msapi-Userstate:
      - 6c24
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=63CF2DF5F980469EB52ECAF73ADB657B&CID=005D0F4B3A796ABD154C033D3B356B3A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=63CF2DF5F980469EB52ECAF73ADB657B&CID=005D0F4B3A796ABD154C033D3B356B3A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 26 Sep 2018 22:53:39 GMT
recorded_with: VCR 4.0.0
